{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "semicolons": true,
  "quotes": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "jsxBracketSameLine": false
}
